<h3>Nova Postagem:</h3>
<div class="card">

    <div class="card-body">

        <form class="" action="/admin/add-postagens" method="post">

            <label for="titulo">titulo: </label>
                <input type="text" name="titulo" id="titulo" placeholder="titulo da categoria" class="form-control">
                
            <label for="slug">Slug: </label>
                <input type="text" name="slug" id="slug" placeholder="slug da categoria" class="form-control">

            <label for="slug">Descrição: </label>
                <input type="text" name="descricao" id="descricao" placeholder="slug da categoria" class="form-control">

            <label for="slug">Conteudo: </label>
                <input type="textarea" name="conteudo" id="conteudo" placeholder="slug da categoria" class="form-control">
            
            <br>

            <button class="btn btn-success">Criar postagem</button>

        </form>

    </div>

</div>