<h2>Login</h2>

<div class="card">

    <div class="card-body">

        <form action="/users/login/authenticate" method="POST">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Digite seu email" class="form-control" required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" class="form-control" required>

            <br>
            <button class="btn btn-success">Login</button>
            <br>

            <div class="gap-4">
                <a href="/users/register"><button type="button" class="btn btn-primary mt-2">Cadastre-se <i class="bi bi-person-circle"></i></button></a>
            </div>

        </form>

    </div>

</div>