<h2>Login</h2>

<div class="card">

    <div class="card-body">

        <form action="/users/login" method="POST">

            <label for="user">Usuario</label>
            <input type="text" name="user" id="user" placeholder="Digite seu usuario" class="form-control">

            <label for="password">Senha</label>
            <input type="password" name="password_user" id="password_user" placeholder="Digite sua senha" class="form-control">

            <br>
            <button class="btn btn-success">Login</button>
            <br>

            <div class="gap-4">
                <a href="/users/register"><button class="btn btn-primary mt-2">Cadastre-se <i class="bi bi-person-circle"></i></button></a>
            </div>

        </form>

    </div>

</div>